
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.navbar {
  background-color: #5c6bc0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.navbar-title {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #14C99E;
  text-transform: uppercase;
  line-height: 1;
  transition: background-color 0.3s ease-in-out;
}

.navbar-title:hover {
  background-color: #0089A9;
}


.navbar a {
  color: #fff;
  text-decoration: none;
}


.footer {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #3f51b5;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}


.navbar-title {
  margin-right: auto;
}

.add-button {
  margin-left: 10px; 
}
