/* App.css */

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos del Navbar */
.navbar {
  background-color: #5c6bc0; /* Cambiamos el color de fondo del navbar */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos del Título del Navbar */
.navbar-title {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #3f51b5; /* Cambiamos el color de fondo del título del navbar */
  text-transform: uppercase;
  line-height: 1; /* Eliminamos el interlineado */
  transition: background-color 0.3s ease-in-out;
}

.navbar-title:hover {
  background-color: #3949ab;
}

/* Cambiamos el color y estilo de los enlaces */
.navbar a {
  color: #fff;
  text-decoration: none;
}

/* Estilos del Footer */
.footer {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #3f51b5;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}
